<!DOCTYPE html>
<html>
<head>
  <title>Blog | Coursera </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class=container>
	<div class="page-header">
		<h1>Coursera Blog</br><small>Web Application Architectures</small></h1>
		<%= yield %>
	</div>
</div>
</body>
</html>
